.barras{ 
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: AgrandirW;
    font-weight: bolder;
    padding: 10px;
}  
.menulink1 {
    font-size: 16px;
    font-family: Kollektif;
    color: rgb(6, 0, 0);  
    text-decoration: none;
    padding: 30px;
    transition: color .5s;
}
.menulink1:hover {
    color: pink;
}

@media (max-width: 450px) {
    .barras{
        padding: 2px;
        width: 100%;
}}