.footer {
    width: 100%;
    font-size: 12px;
    font-family: AgrandirR ;
    text-align: center;
    color: grey;
}
.TMDB{
    width: 10%;
}

@media (max-width: 450px) {
    .footer {
        font-size: 9px;
        margin: 2px;
        padding: 0px;
        align-items: center;
    }

}